/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"); */
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #fff;
  --first-color-light: #282850;
  --white-color: #282850;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.height-100 {
  height: 100vh !important;
}
a {
  text-decoration: none !important;
}
.header {
  /* width: 100%; */
  /* height: var(--header-height); */
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  display: flex !important;
  align-items: center !important;
  justify-content: end !important;
  width: 100% !important;
  height: max-content !important;
  margin: 0 !important;
  padding: 0 0 2rem 0 !important;
  /* padding: 0 !important; */
  /* margin: 0 !important; */
  background-color: var(--first-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}
.header_toggle {
  color: #282850 !important;
  /* color: var(--first-color); */
  font-size: 1.5rem;
  cursor: pointer;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
/* .nav_logo {
  display: flex;
  justify-content: center;
} */
.nav_link,
.nav_logo {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 0.5rem;
  transition: 0.3s;
  /* background-color: aqua; */
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_link i {
  font-size: 20px !important;
  color: #e59432 !important;
}
.nav_link.active i {
  color: #282850 !important;
}
.nav_icon {
  font-size: 1.25rem;
}
/*  */
.active {
  color: var(--white-color);
}
/*  */
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
/*  */
body {
  margin: calc(var(--header-height) + 1rem) 0 0 0;
  padding-left: calc(var(--nav-width) + 0.5rem);
  transition: 0.5s;
}
/*  */
.header {
  height: calc(var(--header-height) + 1rem);
  padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
}
/*  */
.header_img {
  width: 40px;
  height: 40px;
}
/*  */
.header_img img {
  width: 45px;
}
/* SideBar */
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem 0 0;
  width: var(--nav-width);
  height: 100vh;
  transition: 0.5s;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}
/* Tamaño para abrir sidebar */
.show {
  width: calc(var(--nav-width) + 156px);
}

/* Padding izquierdo de contenido al abrir el navbar */
.body-pd {
  padding-left: calc(var(--nav-width) + 165px);
}
